<div class="grid">
  <div class="g-col-12">
    shortcode:
    <span>section: [#S:XXX]YYY[#/S:XXX]</span>
    <span>replacer: [#R:XXX]</span>
    <span>accord: [#ACC:XXX]</span>
  </div>
  <div class="g-col-8">
    <ta-form [inputs]="this.form()" [onLive]="true" (valid)="this.update($event)"></ta-form>
  </div>
  <div class="g-col-4">
    @if (this.formAgreements().length > 0) {
      <ta-form [inputs]="this.formAgreements()" (valid)="this.save($event)"></ta-form>
    } @else {
      <ta-text>Nous n'avons pas trouver d'accord dans votre document</ta-text>
    }
  </div>
</div>
