// @use 'ta/external/bootstrap';

@use 'ta/settings/colors';
@use 'ta/settings/borders';
@use 'ta/settings/shadows';
@use 'ta/settings/fonts';
@use 'ta/settings/spaces';
@use 'ta/settings/components';
@use 'ta/settings/flex';
@use 'ta/settings/grids';
@use 'ta/settings/transitions';

@mixin generate() {
  @include colors.generateColors();

  @include borders.generateBorders();

  @include shadows.generateShadows();

  @include fonts.generateFonts();

  @include spaces.generateSpaces();
  @include spaces.generateRadius();

  @include transitions.generateTransitions();

  @include components.generateComponents();

  @include flex.generateFlex();

  @include grids.generateGrids();
}
