@use "ta/generate";
@use "ta/utils/mixins/common";
@use "ta/utils/mixins/fonts";
@use "ta/utils/mixins/flex";

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* You can add global styles to this file, and also import other style files */

@include generate.generate();

html,
body {
  height: 100%;
  @include fonts.fontSizeBody(md);
  background-color: common.get-var(surface, primary);
  color: common.get-var(text, primary);
  font-family: common.get-var(font, family);

  margin: 0;
}


hr {
  width: 50%;
  margin: 10px auto;
}

.align-items-center {
  margin: auto;
}
.max-container {
  max-width: common.get-var(components, max-width);
  margin: auto;
}

[hidden] {
  display: none !important;
}

.pointer {
  cursor: pointer;
}
