<ta-layout-page>
  <ta-layout-header>
    <!-- <app-header [level]="2" [title]="this.currentRouteName"></app-header> -->
  </ta-layout-header>

  <ta-layout-title>
    <div class="align-center space-between">
      <div class="layout-title-container flex-fill">
        <mat-icon class="pr-space-md" (click)="this.goBack()">arrow_back</mat-icon>

        <ta-title [level]="2" class="flex-fill">
          <ng-content select="app-layout-title"></ng-content>
        </ta-title>
      </div>
      <div>
        <ng-content select="app-layout-additional-content"></ng-content>
      </div>
    </div>
  </ta-layout-title>

  <ta-layout-content>
    <ng-content select="app-layout-content"></ng-content>
  </ta-layout-content>

  <ta-layout-nav>
    @if (!(this.breakpoints.isMobile$ | async)) {
      <!-- defer menu -->
      @defer {
        <app-main-menu></app-main-menu>
      }
    }
  </ta-layout-nav>
</ta-layout-page>
