@use 'ta/utils/mixins/common';

.form-showcase {
  max-width: common.get-var(space, xxxl);
  margin: 0 auto;
  text-align: center;
}

.coming-soon {
  background: common.get-var(surface, secondary);
  padding: common.get-var(space, xl);
  border-radius: common.get-var(radius, md);
  margin-top: common.get-var(space, xl);
}