@use "ta/utils/mixins/common";

.banners-demo {
  max-width: common.get-var(space, xxxl);
  margin: 0 auto;
}

.demo-section {
  background: common.get-var(surface, primary);
  border: 1px solid common.get-var(border, primary);
  border-radius: common.get-var(radius, md);
  padding: common.get-var(space, xl);
  margin-bottom: common.get-var(space, xl);
}

.demo-group ta-banner {
  margin-bottom: common.get-var(space, md);
}
