@use 'ta/utils/mixins/flex';
@use 'ta/utils/mixins/mediaQueriesRanges';

@mixin grid-responsive-base() {
  @include mediaQueriesRanges.to-key(tablette) {
    @include flex.flex-start();
    flex-wrap: nowrap;
  }
  @include mediaQueriesRanges.from-key(tablette) {
    @include grid-base();
  }
}

@mixin grid-base() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

@mixin one-sixth() {
  grid-column: span 2;
}
@mixin one-third() {
  grid-column: span 4;
}
@mixin one-fourth() {
  grid-column: span 3;
}
@mixin one-half() {
  grid-column: span 6;
}
@mixin two-thirds() {
  grid-column: span 8;
}
@mixin five-sixths() {
  grid-column: span 10;
}
@mixin full() {
  grid-column: span 12;
}

@mixin grid-full() {
  @include grid-base();
  > * {
    @include full();
  }
}
@mixin grid-one-half() {
  @include grid-base();
  > * {
    @include one-half();
  }
}
@mixin grid-one-fourth() {
  @include grid-base();
  > * {
    @include one-fourth();
  }
}
@mixin grid-one-third() {
  @include grid-base();
  > * {
    @include one-third();
  }
}
@mixin grid-one-sixth() {
  @include grid-base();
  > * {
    @include one-sixth();
  }
}
