@use 'ta/vars';

@mixin mq($condition) {
  @media #{$condition} {
    @content;
  }
}

@mixin from-key($key) {
  @include from(map-get(vars.$grid-breakpoints, $key)) {
    @content;
  }
}

@mixin to-key($key) {
  @include to(map-get(vars.$grid-breakpoints, $key)) {
    @content;
  }
}
// ---------------------------------------------------------
// @All Above Media Query Mixin
// ---------------------------------------------------------

// Mixin used to match certain breakpoint
// and all devices above it.

@mixin from($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// ---------------------------------------------------------
// @All Under Media Query Mixin
// ---------------------------------------------------------

// Mixin used to match all devices under certain breakpoint.

@mixin to($breakpoint) {
  @media screen and (max-width: $breakpoint - 1px) {
    @content;
  }
}

// ---------------------------------------------------------
// @Between Two Devices Media Query Mixin
// ---------------------------------------------------------

// Mixin used to match the devices between 2 breakpoints.

@mixin between($start, $end) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @content;
  }
}

@mixin in-context($context) {
  :host-context(#{$context}) {
    @content;
  }
}
