<app-layout-first-level>
  @let id = this.id();
  <app-layout-title>
    <div class="space-between align-center">
      Mes catégories
      <div>
        <ta-button (action)="this.add()">Ajouter</ta-button>
      </div>
    </div>
  </app-layout-title>
  <app-layout-content>
    <div class="p-space-md">
      @if (id) {
      <app-category-sub [id]="id"></app-category-sub>
      } @else {
      <app-categories-list></app-categories-list>
      }
    </div>
  </app-layout-content>
</app-layout-first-level>
