<div class="app-layout">
  <nav class="sidebar">
    <div class="sidebar-header">
      <ta-title [level]="2">{{ title }}</ta-title>
    </div>
    <div class="nav-menu">
      <a *ngFor="let item of mainMenu" 
         [routerLink]="item.route" 
         class="nav-item"
         routerLinkActive="active">
        <span class="material-icons">{{ item.icon.name }}</span>
        {{ item.title }}
      </a>
    </div>
  </nav>
  
  <main class="main-content">
    <router-outlet />
  </main>
</div>

<ta-notification-box></ta-notification-box>
