@use "ta/utils/mixins/common";
@use "ta/utils/mixins/flex";

.sections {
  @include flex.flex-column();
  gap: common.get-var(space, xxl);
}

section {
  @include flex.flex-column();
  gap: common.get-var(space, md);
}

.demo-row {
  @include flex.flex-row();
  flex-wrap: wrap;
  @include flex.align-center();
  gap: common.get-var(space, md);
}

.demo-column {
  @include flex.flex-column();
  gap: common.get-var(space, sm);
}

.align-center {
  align-items: center;
}
