<div class="files-showcase">
  <ta-title [level]="1">File Management Components</ta-title>
  <ta-text
    >Démonstration des composants de gestion de fichiers (@ta/files-basic,
    @ta/files-extended)</ta-text
  >
  <div class="coming-soon">
    <ta-title [level]="3">À venir...</ta-title>
    <ta-text
      >Cette section contiendra les démonstrations des composants de fichiers
      :</ta-text
    >
    <div class="files-list">
      <ta-text>• File Upload (@ta/files-basic)</ta-text>
      <ta-text>• File List Display</ta-text>
      <ta-text>• File Edit Components</ta-text>
      <ta-text>• Extended File Management (@ta/files-extended)</ta-text>
      <ta-text>• File Metadata Management</ta-text>
    </div>
  </div>
</div>
