<div class="files-showcase">
  <ta-title [level]="1">File Management Components</ta-title>
  <ta-text>Démonstration des composants de gestion de fichiers (@ta/files-basic, @ta/files-extended)</ta-text>
  <div class="coming-soon">
    <ta-title [level]="3">À venir...</ta-title>
    <ta-text>Cette section contiendra les démonstrations des composants de fichiers :</ta-text>
    <ul>
      <li>File Upload (@ta/files-basic)</li>
      <li>File List Display</li>
      <li>File Edit Components</li>
      <li>Extended File Management (@ta/files-extended)</li>
      <li>File Metadata Management</li>
    </ul>
  </div>
</div>