// based on https://github.com/CodyReeves/css-grid-system-library/blob/production/scss/class-creators/_grid.scss

@use 'ta/vars';
@use 'ta/settings/common';
@use 'ta/utils/mixins/mediaQueriesRanges';
@use 'ta/utils/mixins/grid';

@mixin generateGrids() {
  .grid {
    display: grid;
  }

  .grid {
    @include grid.grid-base();

    .full {
      @include grid.full();
    }

    .two-thirds {
      @include grid.two-thirds();
    }

    .one-half {
      @include grid.one-half();
    }

    .one-third {
      @include grid.one-third();
    }

    .one-fourth {
      @include grid.one-fourth();
    }

    .one-sixth {
      @include grid.one-sixth();
    }

    .five-sixths {
      @include grid.five-sixths();
    }

    // Generate responsive grid classes for each breakpoint
    @each $col-size, $size in vars.$grid-breakpoints {
      @include mediaQueriesRanges.to($col-size) {
        .#{$col-size}-full {
          @include grid.full();
        }

        .#{$col-size}-two-thirds {
          @include grid.two-thirds();
        }

        .#{$col-size}-one-half {
          @include grid.one-half();
        }

        .#{$col-size}-one-third {
          @include grid.one-third();
        }

        .#{$col-size}-one-fourth {
          @include grid.one-fourth();
        }

        .#{$col-size}-one-sixth {
          @include grid.one-sixth();
        }

        .#{$col-size}-five-sixths {
          @include grid.five-sixths();
        }
      }
    }
  }
  .grid-one-half {
    @include grid.grid-one-half();
  }
  .grid-one-third {
    @include grid.grid-one-third();
  }
  .grid-one-fourth {
    @include grid.grid-one-fourth();
  }
  .grid-one-sixth {
    @include grid.grid-one-sixth();
  }

  // Generate responsive standalone grid classes for each breakpoint
  @each $col-size, $size in vars.$grid-breakpoints {
    @include mediaQueriesRanges.to($size) {
      .grid-#{$col-size}-full {
        @include grid.full();
      }
      .grid-#{$col-size}-one-half {
        @include grid.grid-one-half();
      }

      .grid-#{$col-size}-one-third {
        @include grid.grid-one-third();
      }

      .grid-#{$col-size}-one-fourth {
        @include grid.grid-one-fourth();
      }

      .grid-#{$col-size}-one-sixth {
        @include grid.grid-one-sixth();
      }
    }
  }
}
