<div>
  @let categories = this.categories$() | async;
  <ta-loader [isLoading]="this.requestState.isLoading()">
    <ta-error [message]="this.requestState.error.message" [code]="this.requestState.error.status">
      <ta-empty [isEmpty]="!categories || categories.length === 0">
        <div class="grid">
          @for (category of categories; track category.documentId) {
            <ta-card (click)="this.selected(category)" class="g-col-4">
              <ta-card-header>
                <ta-card-title>
                  <ta-title [level]="3" [isBold]="true">
                    {{ category.name }}
                  </ta-title>
                </ta-card-title>
              </ta-card-header>
              <ta-card-content>
                {{ category.description }}
              </ta-card-content>
            </ta-card>
          }
        </div>
      </ta-empty>
    </ta-error>
  </ta-loader>
</div>
