<div class="charts-showcase">
  <ta-title [level]="1">Charts Components</ta-title>
  <ta-text>Démonstration des composants de graphiques (@ta/charts)</ta-text>
  
  <ta-banner type="info" class="coming-soon">
    <ta-title [level]="3">À venir...</ta-title>
    <ta-text>Cette section contiendra les démonstrations des composants de graphiques (Chart.js integration).</ta-text>
    <ul>
      <li>Bar Charts</li>
      <li>Line Charts</li>
      <li>Pie Charts</li>
      <li>Doughnut Charts</li>
      <li>Mixed Charts</li>
    </ul>
  </ta-banner>
</div>