@use "ta/utils/mixins/common";
@use "ta/utils/mixins/flex";

.sections {
  @include flex.flex-column();
  gap: common.get-var(space, xxl);
}

section {
  @include flex.flex-column();
  gap: common.get-var(space, md);
}

.demo-box {
  @include flex.flex-column();
  @include flex.align-center();
  padding: common.get-var(space, lg);
  background: common.get-var(surface, primary);
  border: 1px solid common.get-var(border, secondary);
  border-radius: common.get-var(radius, rounded);
}

.chart-container {
  max-width: 600px;
  width: 100%;
}
