/** Function **/
/** Generate CSS custom properties from a map **/
:root {
  --ta-brand-900: #121e38;
  --ta-brand-800: #192e50;
  --ta-brand-700: #1f375d;
  --ta-brand-600: #273f67;
  --ta-brand-500: #2d466f;
  --ta-brand-400: #4c5f81;
  --ta-brand-300: #6a7a95;
  --ta-brand-200: #929fb3;
  --ta-brand-100: #bcc4d2;
  --ta-brand-50: #e5e8ec;
  --ta-second-900: #f26800;
  --ta-second-800: #f28700;
  --ta-second-700: #f19800;
  --ta-second-600: #f1ab00;
  --ta-second-500: #f0b800;
  --ta-second-400: #f2c317;
  --ta-second-300: #f4ce46;
  --ta-second-200: #f7db7c;
  --ta-second-100: #fae9b0;
  --ta-second-50: #fdf7e0;
  --ta-neutral-black: #1f2245;
  --ta-neutral-700: #262626;
  --ta-neutral-600: #3c3c3c;
  --ta-neutral-500: #7d7d7d;
  --ta-neutral-400: #a9a9a9;
  --ta-neutral-300: #dddddd;
  --ta-neutral-200: #f4f7f9;
  --ta-neutral-100: #f8f8f8;
  --ta-neutral-white: #ffffff;
  --ta-semantic-red-light: rgba(231, 76, 60, 0.5);
  --ta-semantic-red: #e74c3c;
  --ta-semantic-orange-light: rgba(243, 156, 18, 0.5);
  --ta-semantic-orange: #f39c12;
  --ta-semantic-yellow: #ffd166;
  --ta-semantic-green-light: rgba(56, 161, 114, 0.5);
  --ta-semantic-green: #38a172;
  --ta-semantic-accent: #e74c3c;
  --ta-icon-primary: #1f2245;
  --ta-icon-secondary: #7d7d7d;
  --ta-icon-tertiary: #a9a9a9;
  --ta-icon-brand-primary: #121e38;
  --ta-icon-brand-secondary: #f1ab00;
  --ta-icon-invert-primary: #ffffff;
  --ta-icon-invert-secondary: #273f67;
  --ta-icon-disabled: #dddddd;
  --ta-icon-success: #38a172;
  --ta-icon-alert: #e74c3c;
  --ta-text-primary: #1f2245;
  --ta-text-secondary: #7d7d7d;
  --ta-text-tertiary: #a9a9a9;
  --ta-text-brand-primary: #121e38;
  --ta-text-brand-secondary: #f28700;
  --ta-text-invert-primary: #ffffff;
  --ta-text-invert-secondary: #ffffff;
  --ta-text-body: #3c3c3c;
  --ta-text-success: #38a172;
  --ta-text-warning: #f39c12;
  --ta-text-alert: #e74c3c;
  --ta-text-link: #192e50;
  --ta-surface-default: #dddddd;
  --ta-surface-primary: #ffffff;
  --ta-surface-secondary: #f4f7f9;
  --ta-surface-tertiary: #e5e8ec;
  --ta-surface-brand-primary: #121e38;
  --ta-surface-brand-secondary: #f2c317;
  --ta-surface-brand-tertiary: #bcc4d2;
  --ta-surface-hover-primary: #f4f7f9;
  --ta-surface-hover-secondary: #f28700;
  --ta-surface-invert: #121e38;
  --ta-surface-success: #38a172;
  --ta-surface-warning: #f39c12;
  --ta-surface-alert: #e74c3c;
  --ta-semantic-token-success: #38a172;
  --ta-semantic-token-alert: #e74c3c;
  --ta-semantic-token-warning: #f39c12;
  --ta-semantic-token-link: #192e50;
  --ta-border-primary: #1f2245;
  --ta-border-secondary: #7d7d7d;
  --ta-border-tertiary: #dddddd;
  --ta-border-brand-primary: #121e38;
  --ta-border-brand-secondary: #f1ab00;
  --ta-border-hover-primary: #192e50;
  --ta-border-hover-secondary: #6a7a95;
  --ta-border-invert-primary: #ffffff;
  --ta-border-invert-secondary: #f26800;
  --ta-border-disabled: #dddddd;
  --ta-border-success: #38a172;
  --ta-border-alert: #e74c3c;
}